.loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    z-index: 1001;
    transition: all .4s ease-in;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-icon {
    animation: spin 1s linear infinite;
}

.loader-icon i {
    font-size: 2rem;
} 

.fade {
    opacity: 0;
    pointer-events: none;
}