@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
    --font: 'Montserrat';
    --dark-color: #222;
    --light-color: #fff;
    --gray-color: #B5B5B5;
    --light-orange: #FFA639;
    --orange: #FF8C00;
    --dark-orange: #b36200;
    --correct: #219653;
    --error: #EB5757;
}

html {
    box-sizing: border-box;
    font-family: var(--font);
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
}

h1 {
    margin: .25rem 0;
    font-size: 2rem;
}

h2 {
    margin: .25rem 0;
    font-size: 1.75rem;
}

h3 {
    margin: .25rem 0;
    font-size: 1.5rem;
}

h4 {
    margin: .25rem 0;
    font-size: 1.25rem;
}

h5 {
    margin: .25rem 0;
    font-size: 1rem;
}

h6 {
    margin: .25rem 0;
    font-size: .75rem;
}

a {
    text-decoration: none;
}

p {
    margin: .25rem 0;
}

/* Componentes */

.font-bold {
    font-size: 1.5rem;
    color: var(--light-color);
    font-weight: bold;
}

.title {
    font-size: 2.5rem;
    color: var(--orange);
}

.btn {
    display: block;
    width: 100%;
    padding: .75rem;
    border-radius: 1rem;
    background-color: var(--orange);
    color: var(--light-color);
    transition: all .4s ease;
}

.btn:hover {
    opacity: .75;
}

.hr {
    width: 80%;
    margin: auto;
    background-color: var(--light-orange);
}

/* Custom CSS */

.sticky-header {
    position: sticky;
    top: 0;
    background-color: var(--orange);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.menu-btn {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    transition: all .4s ease;
}

.menu-btn:hover {
    background-color: var(--light-orange);
}

.menu {
    width: 100%;
    height: 100vh;
    background-color: var(--orange);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* fade */
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
    transition: all .4s ease-out;
}

.menu.active  {
    opacity: 1;
    pointer-events: all;
}

.menu a {
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--light-color);
    text-align: center;
    transition: all .4s ease-in;
}

.menu a:hover {
    background-color: var(--light-orange);
}

/* Hero */

.hero {
    width: 100%;
    height: 100vh;
    background-blend-mode: soft-light;
    background-color: var(--dark-color);
    background-image: url("../assets/img/hero.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero-header {
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.hero-body {
    color: var(--light-color);
}