@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
    --font: 'Montserrat';
    --white: #fff;
    --gray: #A9A9A9;
    --dark-gray: #222;
    --black:  #000;
    --blue-1: #2D8AF9;
    --blue-2: #0075FF;
    --blue-3: #004699;
    --ok: #219653;
    --danger: #F83232;
    --warn: #FFFF59;
}


html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
}

a {
    color: var(--blue-1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    margin: .5rem 0;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: .75rem; }

img {
    max-width: 100%;
    height: auto;
}

/* Componenets */

.dark-mode {
    background-color: var(--dark-gray);
    color: var(--white);
}

.responsive-font {
    font-size: calc(1rem + 1vw / 2);
}

.title {
    font-size: calc(1rem + 1vw);
    margin: .75rem 0;
}

.title a:hover {
    text-decoration: none;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    min-height: 100vh;
    padding: 5rem 1rem;
}

.hero-title {
    font-size: calc(2rem + 2vw);
}

.section-title {
    font-size: calc(2rem + 1vw);
    color: var(--blue-1);
    border-bottom: thin solid var(--blue-1);
    text-align: center;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.t-center {
    text-align: center;
}

.t-justify {
    text-align: justify;
}

.btn {
    display: block;
    width: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    transition: all .4s ease-in;
}

.btn:hover {
    text-decoration: none;
    opacity: .75;
}

.btn.primary {
    background-color: var(--blue-2);
    color: var(--white);
}

.footer-container {
    background-color: var(--blue-2);
    color: var(--white);
    padding: 1rem;
}

.theme-btn {
    width: max-content !important;
}

/* Custom CSS */

/* Header */

.header-sticky {
    position: sticky;
    top: 0;
    background-color: var(--dark-gray);
    color: var(--white);
}

.nav-bar {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Button */

.menu-btn {
    display: flex;
    align-items: center;
    font-size: 2.25rem;
    transition: all .4s ease-in-out;
}

.menu-btn:hover {
    text-decoration: none;
    opacity: .75;
    transform: scale(1.1);
}

.menu {
    pointer-events: none;
    opacity: 0;
    transition: all .4s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    background-color: var(--blue-2);
    width: 100%;
    height: 100vh;
}

.menu.active {
    pointer-events: all;
    opacity: 1;
}

.menu > a {
    display: block;
    text-align: center;
    width: 100%;
    padding: 1rem;
    font-size: 1.25rem;
    color: var(--white);
    transition: all .4s ease;
}

.menu > a:hover {
    text-decoration: none;
    opacity: .75;
    background-color: var(--blue-1);
}

/* Hero */

.hero {
    height: 100vh;
    background-image: url("../assets/img/hero.jpg");
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: var(--white);
    padding: 1rem;
}

/* Media queries */

@media screen and (min-width: 1024px) {

    .menu {
        transform: translateX(100%);
        width: 40%;
        right: 0;
    }

    .menu.active {
        transform: translateX(0);
    }
}
