@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
    --font: 'Montserrat';
    --dark-color: #222;
    --light-color: #fff;
    --gray-color: #B5B5B5;
    --light-orange: #FFA639;
    --orange: #FF8C00;
    --dark-orange: #b36200;
    --correct: #219653;
    --error: #EB5757;
}

html {
    box-sizing: border-box;
    font-family: var(--font);
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
}

h1 {
    margin: .25rem 0;
    font-size: 2rem;
}

h2 {
    margin: .25rem 0;
    font-size: 1.75rem;
}

h3 {
    margin: .25rem 0;
    font-size: 1.5rem;
}

h4 {
    margin: .25rem 0;
    font-size: 1.25rem;
}

h5 {
    margin: .25rem 0;
    font-size: 1rem;
}

h6 {
    margin: .25rem 0;
    font-size: .75rem;
}

a {
    text-decoration: none;
}

p {
    margin: .5rem 0;
}

progress {
    background-color: var(--gray-color);
}

::-webkit-progress-bar {
    background-color: var(--gray-color);
}

::-webkit-progress-value {
    background-color: var(--light-orange);
}

::-moz-progress-bar {
    background-color: var(--light-orange);
}


/* Componentes */

.font-bold {
    font-size: 1.5rem;
    color: var(--light-color);
    font-weight: bold;
}

.title {
    font-size: 2.5rem;
    color: var(--orange);
}

.btn {
    display: block;
    width: 100%;
    padding: .75rem;
    border-radius: 1rem;
    background-color: var(--orange);
    color: var(--light-color);
    transition: all .4s ease;
}

.btn:hover {
    opacity: .75;
}

.section-title {
    width: 100%;
    margin: 2rem auto 0 auto;
    text-align: center;
    border-bottom: thin solid var(--orange);
    color: var(--orange);
}

.t-center {
    text-align: center;
}

.p-1 {
    padding: 1rem;
}

.p-tb-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.w-90 {
    width: 90%;
}

.m-a {
    margin: auto;
}

.link {
    color: var(--light-orange);
}

.f-bold {
    font-weight: bold;
}

.block {
    margin-top: .5rem;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: auto;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: .25rem;
    padding: .5rem;
    border-radius: 50%;
    background-color: var(--orange);
    font-size: 2rem;
    color: var(--light-color);
    transition: all .4s ease-in;
}

.social-btn:hover {
    opacity: .75;
}

/* Custom CSS */

.sticky-header {
    position: sticky;
    top: 0;
    background-color: var(--orange);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.menu-btn {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    transition: all .4s ease;
}

.menu-btn:hover {
    background-color: var(--light-orange);
}

.menu {
    width: 100%;
    height: 100vh;
    background-color: var(--orange);
    position: fixed;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* fade */
    transform: translateX(100%);
    pointer-events: none;
    z-index: 1000;
    transition: all .4s ease-out;
}

.menu.active  {
    transform: translateX(0);
    pointer-events: all;
}

.menu a {
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--light-color);
    text-align: center;
    transition: all .4s ease-in;
}

.menu a:hover {
    background-color: var(--light-orange);
}

/* Hero */

.hero {
    width: 100%;
    height: 100vh;
    background-blend-mode: soft-light;
    background-color: var(--dark-color);
    background-image: url("../assets/img/hero.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero-header {
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.hero-body {
    color: var(--light-color);
}

@media screen and (min-width: 1024px) {
    .menu {
        width: 50%;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}