:root {
    --font: 'Poppins';
    --dark: #333;
    --light: #fff;
    --primary: #2F80ED;
    --correct: #27AE60;
    --warn: #F2C94C;
    --danger: #EB5757;
}

html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-size: calc(1rem + 1vw);
}

h1, h2, h3, h4, h5, h6 { margin: .75rem 0; }

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: .75rem; }

img {
    max-width: 100%;
    height: auto;
}

.title {
    font-size: calc(1rem + 1vw / 2);
}

.row {
    display: flex !important;
    flex-direction: row !important;
}

.row > * { padding: 1rem; }

.header {
    position: sticky;
    top: 0;
    background-color: var(--dark);
    color: var(--light);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.menu-btn {
    cursor: pointer;
    font-size: calc(1.5rem + 1vw);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: var(--dark);
    opacity: 0;
    pointer-events: none;
    transition: .4s ease;
}

.menu > * {
    display: block;
    width: 100%;
    padding: 1rem;
}

.menu.active {
    opacity: 1;
    pointer-events: all;
}

.menu a {
    text-decoration: none;
    color: var(--light);
    transition: .4s ease;
}

.menu a.active {
    font-weight: bold
}

.menu a:hover {
    opacity: .75;
}

@media screen and (min-width: 1024px) {
    
    .menu-btn {
        display: none;
    }

    .menu {
        position: relative;
        top: 0;
        opacity: 1;
        width: auto;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        pointer-events: all;
    }

    .menu a {
        font-size: calc( .75rem + 1vw / 2 );
    }

    .menu > * {
        padding: 0 1rem;
    }

}
