@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
    --font: 'Montserrat';
    --white: #fff;
    --light-gray: rgb(128, 128, 128, .5);
    --gray: #A9A9A9;
    --dark-gray: #222;
    --black:  #000;
    --blue-1: #2D8AF9;
    --blue-2: #0075FF;
    --blue-3: #004699;
    --ok: #219653;
    --danger: #F83232;
    --warn: #FFFF59;
}


html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
}

a {
    color: var(--blue-1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    margin: .5rem 0;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: .75rem; }

img {
    max-width: 100%;
    height: auto;
}

/* Componenets */

.dark-mode {
    background-color: var(--dark-gray);
    color: var(--white);
}

.responsive-font {
    font-size: calc(1rem + 1vw / 2);
}

.title {
    font-size: calc(1rem + 1vw);
    margin: .75rem 0;
}

.title a:hover {
    text-decoration: none;
}

.list {
    padding: 0;
    width: 100%;
}

.list li {
    margin-bottom: .5rem;
}

.list li > svg {
    max-width: 50px;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    min-height: 100vh;
    padding: 5rem 1rem;
}

.hero-title {
    font-size: calc(2rem + 2vw);
}

.section-title {
    font-size: calc(2rem + 1vw);
    color: var(--blue-1);
    border-bottom: thin solid var(--blue-1);
    text-align: center;
}

.secondary-title {
    font-size: calc(1.75rem + 1vw);
}

.w-100 {
    width: 100%;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.t-center {
    text-align: center;
}

.t-justify {
    text-align: justify;
}

.t-left {
    text-align: left;
}

.t-right {
    text-align: right;
}

.m-0 {
    margin: 0;
}

.mb-2{
    margin-bottom: 2rem;
}

.btn {
    display: block;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    transition: all .4s ease-in;
}

.btn:hover {
    text-decoration: none;
    opacity: .75;
}

.m-auto {
    margin: auto;
}

.m-right {
    margin-left: auto;
}

.btn.primary {
    background-color: var(--blue-2);
    color: var(--white);
}

.no-list {
    list-style: none;
    padding: 0;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row > * {
    margin: .5rem;
}

.footer-container {
    background-color: #111;
    color: var(--white);
    padding: 4rem 1rem;
}

.responsive-font-link {
    font-size: calc(1vw + .75rem);
}

.responsive-links li a {
    font-size: calc(2rem + 1vw);
    color: var(--white);
    transition: all .4s ease;
}

.responsive-links li a:hover {
    opacity: .75;
}

.theme-btn {
    width: max-content !important;
}

.white {
    color: var(--white);
}

.icon {
    font-size: calc(2rem + 1vw);
}

/* Custom CSS */

/* Header */

.header-sticky {
    position: sticky;
    top: 0;
    background-color: var(--dark-gray);
    color: var(--white);
    z-index: 999;
}

.nav-bar {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Button */

.menu-btn {
    display: flex;
    align-items: center;
    font-size: 2.25rem;
    transition: all .4s ease-in-out;
}

.menu-btn:hover {
    text-decoration: none;
    opacity: .75;
    transform: scale(1.1);
}

.menu {
    pointer-events: none;
    opacity: 0;
    transition: all .4s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    background-color: var(--blue-2);
    width: 100%;
    height: 100vh;
    z-index: 999;
}

.menu.active {
    pointer-events: all;
    opacity: 1;
}

.menu > a {
    display: block;
    text-align: center;
    width: 100%;
    padding: 1rem;
    font-size: 1.25rem;
    color: var(--white);
    transition: all .4s ease;
}

.menu > a:hover {
    text-decoration: none;
    opacity: .75;
    background-color: var(--blue-1);
}

/* Hero */

.hero {
    height: 100vh;
    background-image: url("../assets/img/hero.jpg");
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: var(--white);
    padding: 1rem;
}

/* Experience Card */

.card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.experience-card {
    width: 100%;
    max-width: 700px;
    margin: 1rem 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 1rem;
    border-bottom: thin solid var(--gray);
    cursor: pointer;
    transition: all .5s ease;
}

.experience-card:hover {
    background-color: rgb(128, 128, 128, .25);
}

.card-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}

.card-title {
    margin: 0;
    font-size: calc(1rem + 1vw);
    font-weight: bold;
}

/* Project Section */

.fluid-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

.project-card {
    height: 300px;
    position: relative;
    margin: 0;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card figcaption {
    position: absolute;
    padding: 1rem;
    width: 100%;
    height: 99%;
    top: 0;
    left: 0;
    transition: all .4s ease;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    cursor: pointer;
}

.project-card figcaption:hover {
    opacity: 1;

}

.project-card figcaption a {
    font-size: calc(2rem + 1vw / 2);
    font-weight: bold;
    text-decoration: none;
    color: var(--white);
    position: relative;
    width: inherit;
    height: inherit;
}

/* Service Cards */

.service-card {
    margin: 0;
    padding: 1rem;
    border: thin solid var(--light-gray);
    border-radius: 1rem;
}

/* Media queries */

@media screen and (min-width: 768px) {

    .btn {
        width: fit-content;
        width: -moz-fit-content;
    }

    .responsive-font-link {
        font-size: calc(1rem + 1vw / 2);
    }
    
}

@media screen and (min-width: 1024px) {

    .menu {
        transform: translateX(100%);
        width: 40%;
        right: 0;
    }

    .menu.active {
        transform: translateX(0);
    }
}
