:root {
    --font: 'Montserrat';
    --primary-color: #222;
    --gray-color: #808080;
    --secondary-color: #fff;
    --red-color: #F13131;
    --ligth-red-color: #FF5E5E;
    --dark-red-color: #AE0000;
    --blue-color: #55fff6;
    --max-width: 1200px;
    --font-size: 1rem;
}

html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
    background: var(--primary-color);
    color: var(--secondary-color);
    transition: all .4s ease-out;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    overflow-x: hidden;
}


h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: .5rem 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .75rem;
}

img {
    width: 100%;
    height: 100%;
}

input[type="submit"] {
    border: none;
    outline: none;
    cursor: pointer;
}

/* Components */

.title {
    font-size: 2.5rem;
}

.text {
    text-align: justify;
    font-size: 1.15rem;
    margin: .25rem 0;
}

.text-center {
    text-align: center;
}

.font-bold {
    font-weight: bold;
}

.margin-0 {
    margin: 0;
}

.btn {
    display: block;
    width: fit-content;
    padding: .75rem;
    border-radius: .5rem;
    background: var(--red-color);
    color: var(--secondary-color);
    transition: all .4s ease;
}

.logo {
    color: var(--secondary-color);
}

.btn:hover {
    transform: scale(1.1)
}

.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vh-100 {
    height: auto;
}

.enlaces {
    color: var(--blue-color);
}

.white {
    color: #fff;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
}

.iframes {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

/* Custom CSS */

.menu {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-bar {
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.menu-btn {
    border: none;
    outline: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu-btn svg {
    fill: var(--secondary-color);
    width: 2rem;
    height: 2rem;
}

.change-theme {
    border: none;
    outline: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.change-theme svg {
    fill: var(--secondary-color);
    width: 1.5rem;
    height: 1.5rem;
}


.panel {
    position: fixed;
    top: 55px;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--ligth-red-color);
    transition: all .4s ease-in-out;
    z-index: 1000;
    transform: translateX(-100%);
}

.active {
    transform: translateX(0);
}

.link {
    display: block;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--secondary-color);
    z-index: 1000;
    transition: all .4s ease;
}

.link:hover {
    background-color: var(--red-color);
}

/* Hero */

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/img/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.gradient {
    width: 100%;
    height: inherit;
    position: absolute;
    background: -webkit-linear-gradient(to right, rgb(254, 140, 0, .5), rgba(248, 54, 0, 0.5));
    background: linear-gradient(to right, rgb(254, 140, 0, .5), rgba(248, 54, 0, 0.5));
    z-index: 99;
}

.hero-info {
    width: 70%;
    margin: auto;
    z-index: 100;
    color: var(--secondary-color);
}

/* About */

.social-contact h4 {
    text-align: center;
}

.media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.media-icons li {
    padding-left: 1rem;
    padding-right: 1rem;
}

.media-icons li a {
    color: var(--secondary-color);
    font-size: 2.5rem;
    transition: all .4s ease-in-out;
}

.media-icons li a:hover {
    transform: translateY(-.5rem);
}

.media-icons li a i {
    transition: all .4s ease-in-out;
}

.media-icons li a i:hover {
    transform: translateY(-.5rem);
}

/* Cards grid */

.bg-proyects {
    background-color: var(--primary-color);
    background-blend-mode:soft-light;
    background-image: url('../assets/img/bg-proyects.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    color: var(--secondary-color);
}

.card-carrousel {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.card {
    position: relative;
    width: 300px;
    height: fit-content;
    display: flex;
    z-index: 99;
    cursor: pointer;
    transition: all .4s ease-in;
}

.card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    border: thin solid #fff;
    padding: 1rem;
    background-color: rgba(248, 54, 0, 0.5);
    color: var(--secondary-color);
    opacity: 0;
    transition: all .4s ease-in;
}

.card-info:hover {
    opacity: 1;
}

/* iFrames */

.facebook {
    width: 100%;
    height: auto;
}

/* Formulario */

.form {
    max-width: var(--max-width);
    width: 100%;
    border: thin solid var(--secondary-color);
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form textarea {
    resize: none;
}

.input-form {
    display: block;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    color: var(--primary-color);
    font-size: var(--font-size);
    font-family: var(--font);
    border: thin solid;
    border-color: var(--gray-color);
    outline: none;
}

/* Footer */

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red-color);
}

/* Scroll button */

.scroll-top {
    border: none;
    outline: none;
    background: none;
    font-size: 3rem;
    position: fixed;
    bottom: 5vh;
    left: calc(50vw - 2rem);
    z-index: 1000;
    color: var(--red-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease;
}

.show {
    visibility: visible;
    opacity: 1;
}

/* Theme mode */

.ligth-mode {
    background: var(--secondary-color);
    color: var(--primary-color);
    fill: var(--primary-color);
    border-color: var(--gray-color);
}

@media screen and (min-width: 768px) {
    .card-carrousel {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .media-icons {
        flex-direction: row;
    }

    .form {
        width: 75%;
    }
}

@media screen and (min-width: 1024px) {

    .vh-100 {
        height: 100vh;
    }

    .menu-btn {
        display: none;
    }

    .panel {
        position: relative;
        height: auto;
        width: fit-content;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        background: none;
        top: 0;
        right: 0;
        transform: translateY(0);
    }
    
    .link {
        font-size: 1rem;
        font-weight: normal;
        height: fit-content;
        padding: 1rem 2rem;
    }

    .form {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: 
            "legend legend"
            "name email"
            "topic topic"
            "message message"
            "submit submit";
        gap: 1rem;
    }

    .form legend{
        grid-area: legend;
    }

    .name {
        grid-area: name;
    }

    .form .input-form[type="email"] {
        grid-area: email;
    }

    .topic {
        grid-area: topic;
    }

    .form .input-form[placeholder="Message..."] {
        grid-area: message;
    }

    .form input[type="submit"] {
        grid-area: submit;
        margin: auto;
    }

}